<main class="container">
  <section>
    <form [formGroup]="encryptForm" (submit)="encryptMessage()">
      <h2>Encrypt Message</h2>
      <label for="messageToEncrypt">Message to Encrypt:</label>
      <input
        id="messageToEncrypt"
        type="text"
        formControlName="messageToEncrypt"
      />
      <button type="submit" class="primary">Encrypt 😞🤙</button>
    </form>
    <div class="response-container">
      <p>
        Encrypted Message: <span class="response">{{ encryptResponse }}</span>
      </p>
    </div>
  </section>

  <section>
    <form [formGroup]="signForm" (submit)="signMessage()">
      <h2>Sign Message</h2>
      <label for="signMessage">Message to Sign:</label>
      <input id="signMessage" type="text" formControlName="signMessage" />
      <button type="submit" class="primary">Sign 🫥</button>
    </form>
    <div class="response-container">
      <p>
        Status Sign: <span class="response">{{ signStatus }}</span>
      </p>
    </div>
  </section>

  <section>
    <button (click)="sendGetSecret()">Get Secret</button>
    <div *ngIf="arrayOfItems">
      <h2>Slices from Secret</h2>
      <div *ngIf="secretShamir">
        <p>
          Clave completa: <span class="response">{{ secretShamir }}</span>
        </p>
      </div>
      <div *ngFor="let item of arrayOfItems; let i = index" class="box">
        <p>Slice {{ i + 1 }}: {{ item }}</p>
      </div>
    </div>
  </section>

  <section>
    <h2>Input Strings</h2>
    <form [formGroup]="inputForm" (submit)="submitInputStrings()">
      <label for="input1">Input 1:</label>
      <input id="input1" type="text" formControlName="input1" />
      <label for="input2">Input 2:</label>
      <input id="input2" type="text" formControlName="input2" />
      <label for="input3">Input 3:</label>
      <input id="input3" type="text" formControlName="input3" />
      <label for="input4">Input 4:</label>
      <input id="input4" type="text" formControlName="input4" />
      <label for="input5">Input 5:</label>
      <input id="input5" type="text" formControlName="input5" />
      <label for="input6">Input 6:</label>
      <input id="input6" type="text" formControlName="input6" />
      <label for="input7">Input 7:</label>
      <input id="input7" type="text" formControlName="input7" />
      <label for="input8">Input 8:</label>
      <input id="input8" type="text" formControlName="input8" />
      <label for="input9">Input 9:</label>
      <input id="input9" type="text" formControlName="input9" />
      <label for="input10">Input 10:</label>
      <input id="input10" type="text" formControlName="input10" />
      <button type="submit" class="primary">Submit Input Strings</button>
    </form>
  </section>
</main>
